<% include partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group row">
                    <label for="email_search" id="email_search_label" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" name="email" id="email_search" placeholder="Email">
                    </div>
                </div>
                <div class="wrapper text-center">
                    <div class="btn-group btn-group-lg">
                        <button type="button" id="search-btn" class="btn wobble-vertical">Search</button>
                    </div>
                </div>
            </form>
            <form class="pt-5 pb-5">
                <div class="form-group row">
                    <label for="mobile_search" id="mobile_search_label" class="col-sm-2 col-form-label">Mobile</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="mobile" id="mobile_search" placeholder="mobile"
                            minlength="10">
                    </div>
                </div>
                <div class="wrapper text-center">
                    <div class="btn-group btn-group-lg">
                        <button type="button" id="search-btn-mob" class="btn wobble-vertical">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6 update-users pb-5" style="display:none">
            <form name="admin_update" id="admin_update">
                <div class="form-group row">
                    <label for="email_updateUser" id="email_updateUser_label" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" name="email" id="email_updateUser" placeholder="Email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name_updateUser" id="name_updateUser_label" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="name" id="name_updateUser" placeholder="name"
                            minlength="3" maxlength="30">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mobile_updateUser" id="mobile_updateUser_label" class="col-sm-2 col-form-label">Mobile</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="mobile" id="mobile_updateUser" placeholder="mobile"
                            minlength="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="floor_updateUser" id="floor_updateUser_label" class="col-sm-2 col-form-label">Floor</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="address.floor" id="floor_updateUser" placeholder="floor">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="flat_updateUser" id="flat_updateUser_label" class="col-sm-2 col-form-label">Flat</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="address.flat" id="flat_updateUser" placeholder="flat">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="building_updateUser" id="building_updateUser_label" class="col-sm-2 col-form-label">Building</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="address.building" id="building_updateUser"
                            placeholder="building">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isadmin_updateUser" id="isadmin_updateUser_label" class="col-sm-2 col-form-label text-success">Make
                        admin</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="isadmin_updateUser" name="isAdmin" class="form-control is-valid">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="active_updateUser" id="active_updateUser_label" class="col-sm-2 col-form-label text-success">
                        Status</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="active_updateUser" name="active" class="form-control is-valid">
                            <option value="true">Active</option>
                            <option value="false">Deactive</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="session_updateUser" id="session_updateUser_label" class="col-sm-2 col-form-label">Last session</label>
                    <div class="col-sm-7 input-group">
                        <input type="text" class="form-control" id="session_updateUser"
                            readonly>
                            <div class="input-group-append">
                                <span class="input-group-text"><a href="#" id="revoke_count" data-toggle="tooltip" title="">revoke?</a></span>
                            </div>        
                    </div>
                </div>
                <div class="wrapper text-center">
                    <div class="btn-group btn-group-lg">
                        <button type="button" id="create" class="btn wobble-vertical">Create</button>
                        <button type="button" id="update-btn" class="btn wobble-vertical">Update</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-md-6 create-users pb-5">
            <form name="admin_register" id="admin_register">
                <div class="form-group row">
                    <label for="email_register" id="email_register_label" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" name="email" id="email_register" placeholder="Email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password_register" id="password_register_label" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" name="password" id="password_register" placeholder="Password">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name_register" id="name_register_label" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="name" id="name_register" placeholder="name"
                            minlength="3" maxlength="30">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mobile_register" id="mobile_register_label" class="col-sm-2 col-form-label">Mobile</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="mobile" id="mobile_register" placeholder="mobile"
                            minlength="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="floor_register" id="floor_register_label" class="col-sm-2 col-form-label">Floor</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="address.floor" id="floor_register" placeholder="floor">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="flat_register" id="flat_register_label" class="col-sm-2 col-form-label">Flat</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="address.flat" id="flat_register" placeholder="flat">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="building_register" id="building_register_label" class="col-sm-2 col-form-label">Building</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="address.building" id="building_register"
                            placeholder="building">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="isadmin_register" id="isadmin_register_label" class="col-sm-2 col-form-label text-success">Make
                        admin</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="isadmin_register" class="form-control is-valid">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>

                <div class="wrapper text-center">
                    <div class="btn-group btn-group-lg">
                        <button type="button" id="create-btn" class="btn wobble-vertical">Create</button>
                        <!-- <button type="button" id="update" class="btn wobble-vertical">Update</button> -->
                    </div>
                </div>
            </form>

        </div>

        <div class="col-md-12 mb-5">
            <div>
                <div id="stats">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="user-list">

</div>

<%- include("partials/footer.ejs" ,{script:"/js/admin.js"}) %>