<!DOCTYPE html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="main.js"></script>
    <script src="admin.js"></script>
</head>

<body>
    <div class="container">
        <div class="container">
            <div class="row pb-5">
                <div class="col-md-6">
                    <div id="search-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" name="email" id="email" placeholder="example@gmail.com">
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="search-btn" class="btn wobble-vertical">Search</button>
                            </div>
                        </div>
                    </form>
                    <form class="pt-5 pb-5">
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Mobile</span>
                            </div>
                            <input type="text" class="form-control" name="mob" id="mob" placeholder="9999999999">
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="search-btn-mob" class="btn wobble-vertical">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6 update-users pb-5" style="display:none">
                    <div id="list-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" name="email1" id="email1" placeholder="example@gmail.com">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Mobile</span>
                            </div>
                            <input type="text" class="form-control" name="mob1" id="mob1" placeholder="9999999999">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="name">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Plan</span>
                            </div>
                            <select class="form-control" id="plan">
                                <option value="lite">Lite</option>
                                <option value="professional">Professional</option>
                                <option value="enterprise">Enterprise</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Plan Ends (Days)</span>
                            </div>
                            <input type="number" class="form-control" name="days" id="days" placeholder="30">
                            <div class="input-group-append">
                                <span class="input-group-text"><a href="#" id="timestamp" data-toggle="tooltip" title="">Date?</a></span>
                            </div>
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Last Session</span>
                            </div>
                            <input type="text" readonly class="form-control" name="revoke" id="revoke">
                            <div class="input-group-append">
                                <span class="input-group-text"><a href="#" id="revoke_count" data-toggle="tooltip"
                                        title="">revoke?</a></span>
                            </div>
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Make Admin</span>
                            </div>
                            <select class="form-control" id="isadmin">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text"><a href="#" onclick="" id="status" data-toggle="tooltip"
                                        title=""></a></span>
                            </div>
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="create" class="btn wobble-vertical">Create</button>
                                <button type="button" id="update-btn" class="btn wobble-vertical">Update</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-md-6 create-users pb-5">
                    <div id="register-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" name="email" id="email2" placeholder="example@gmail.com">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" class="form-control" name="name" id="name2" placeholder="name">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Mobile</span>
                            </div>
                            <input type="text" class="form-control" name="mobile" id="mobile2" placeholder="+1 800 274 0561">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" name="pass" id="pass2" placeholder="password">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Plan</span>
                            </div>
                            <select class="form-control" id="plan2">
                                <option value="lite">Lite</option>
                                <option value="professional">Professional</option>
                                <option value="enterprise">Enterprise</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Plan Ends (Days)</span>
                            </div>
                            <input type="number" class="form-control" name="days" id="days2" placeholder="30">
                            <div class="input-group-append">
                                <span class="input-group-text"><a href="#" id="timestamp" data-toggle="tooltip" title="">Date?</a></span>
                            </div>

                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Make Admin</span>
                            </div>
                            <select class="form-control" id="isadmin2">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="create-btn" class="btn wobble-vertical">Create</button>
                                <!-- <button type="button" id="update" class="btn wobble-vertical">Update</button> -->
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-md-12 mb-5">
                    <div>
                        <div id="stats">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="user-list">

        </div>
    </div>
</body>