<!DOCTYPE html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="main.js"></script>
    <script src="profile.js"></script>
</head>

<body>
	<div class="body-container container">
		<div class="row">
			<div class="col-md-6">
			</div>

			<div class="col-md-6">
				<div id="list-msg"></div>
				<form>
					<div class="input-group mb-3 input-group-lg container">
						<div class="input-group-prepend">
							<span class="input-group-text">Name</span>
						</div>
						<input type="text" class="form-control" name="name" id="name" placeholder="name">
					</div>
					<div class="input-group mb-3 input-group-lg container">
						<div class="input-group-prepend">
							<span class="input-group-text">Mobile</span>
						</div>
                        <input type="number" class="form-control" name="mobile" id="mobile" placeholder="18002740561">
					</div>
					<div class="wrapper text-center">
						<div class="btn-group btn-group-lg">
							<button type="button" id="update-btn" class="btn wobble-vertical">Update</button>
						</div>
					</div>
				</form>

			</div>
		</div>

	</div>
</body>

</html>