<% include partials/header.ejs %>
<div class="row">
    <div class="col-md-6">
        <form name="resetPass_form" id="resetPass_form">
            <div class="form-group row">
                <label for="password_reset" id="password_reset_label" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" name="password" id="password_reset" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="new_password_reset" id="new_password_reset_label" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" name="new_password" id="new_password_reset" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="conf_password_reset" id="conf_password_reset_label" class="col-sm-2 col-form-label">Confirm
                    Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" name="conf_password" id="conf_password_reset"
                        placeholder="Confirm Password">
                </div>
            </div>
            <div class="wrapper text-center">
                <div class="btn-group btn-group-lg">
                    <button type="button" id="reset-pass-btn" class="btn wobble-vertical">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs" ,{script:"/js/resetPass.js"}) %>