<% include partials/header.ejs %>
<div class="row">
    <div class="col-md-6">
        <form name="reverify_form" id="reverify_form">
            <div class="form-group row">
                <label for="email_verify" id="email_verify_label" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" name="email" id="email_reverify" placeholder="Email">
                </div>
            </div>
            <div class="wrapper text-center">
                <div class="btn-group btn-group-lg">
                    <button type="button" id="reverify-btn" class="btn wobble-vertical">Send verification link</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs" ,{script:"/js/reverify.js"}) %>