<% include partials/header.ejs %>
<div class="row">
    <div class="col-md-6">
        <div id="list-msg"></div>
        <form name="setPass_form" id="setPass_form">
            <div class="form-group row">
                <label for="password_set" id="password_set_label" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" name="password" id="password_set" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="conf_password_set" id="conf_password_set_label" class="col-sm-2 col-form-label">Confirm
                    Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" name="conf_password" id="conf_password_set" placeholder="Confirm Password">
                </div>
            </div>
            <div class="wrapper text-center">
                <div class="btn-group btn-group-lg">
                    <button type="button" id="set-pass-btn" class="btn wobble-vertical">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<% if(message) { %>
<script>
    var message = JSON.parse(("<%= message %>").split("&#34;").join("\""));
    if (!message.token || message.token === "") {
        // window.location.href = "/";
    }
    setCookie("pass_token", message.token, 1);
</script>
<% } %>

<%- include("partials/footer.ejs" ,{script:"/js/setPass.js"}) %>